<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popup</title>
    <link rel="stylesheet" href="./popup.css">
</head>
<body>
<div class="content">
    <button class="add">新增</button>
    <div class="container"></div>
</div>
<script type="template" id="listTpl">
    <ul class="list-container">
        <% for (var i = 0; i < data.length; i++) { %>
            <li>
                <input type="checkbox" checked="<% data[i].checked || false %>">
                <span><%data[i].domain%></span>
                <span class="edit" data-key="<%data[i].domain%>">
                    <button data-type="edit">编辑</button>
                    <button data-type="view">查看</button>
                </span>
            </li>
        <% } %>
    </ul>
</script>

<script type="template" id="addTpl">
    <div class="add-container">
        <label for="domain"><input type="text" id="domain" value="<% data.domain || '' %>"> <button class="get-current">获取当前域名</button>
        </label>
        <label for="script">
            <textarea id="script" cols="30" rows="10"><% data.script || '' %></textarea>
        </label>
        <label id="error">域名和脚本必填</label>
        <footer>
            <button data-type="save" class="save">保存</button>
            <button data-type="cancel" class="cancel">取消</button>
        </footer>
    </div>
</script>

<script type="template" id="viewTpl">
    <div class="view-container">
        <label for="domain">
            域名：<span><%data.domain%></span>
        </label>
        <label for="script">
            脚本：<pre><%data.script%></pre>
        </label>
        <button class="cancel">返回</button>
    </div>
</script>

<script src="./router.js"></script>
<script src="./model.js"></script>
<script src="./template.js"></script>
<script src="./view.js"></script>
</body>
</html>