pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

label {
    display: block;
}

input, button {
    cursor: pointer;
}


#error {
    color: #ff3759;
    display: none;
}

#script {
    min-height: 300px;
    margin-bottom: 10px;
}

.action {
    border-bottom: 1px solid #f7f7f7;
    text-align: right;
    padding-bottom: 8px;
}

.content {
    min-width: 400px;
    min-height: 300px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.container {
    margin-top: 10px;
    overflow-y: auto;
}

.add-container {
    .domain {
        margin-bottom: 10px;

        input {
            outline: none;
            position: relative;
            display: inline-block;
            padding: 4px 7px;
            width: 70%;
            cursor: text;
            color: rgba(0,0,0,.65);
            background-color: #fff;
            background-image: none;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            -webkit-transition: all .3s;
            transition: all .3s;

            &:hover {
                border-color: #49a9ee;
            }
        }
    }
}

.list-container {
    padding-left: 0;
    margin: 0;

    li {
        border-bottom: 1px solid #f7f7f7;
        padding: 5px 10px;
        overflow: hidden;

        .edit {
            float: right;
        }

        &:hover {
            background-color: #ecf6fd;
        }

    }
}