<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popup</title>
    <link rel="stylesheet" href="./popup.css">
</head>
<body>
<div class="content">
    <div class="action">
        <button class="add">新增</button>
        <button class="close">关闭</button>
    </div>

    <div class="container"></div>
</div>
<script type="template" id="listTpl">
    <ol class="list-container">
        <% for (var i = 0; i < data.length; i++) { %>
            <li>
                <input value="<%data[i].domain%>" type="checkbox" <% if (data[i].checked) {%> checked <% } %> >
                <span><%data[i].domain%></span>
                <span class="edit" data-key="<%data[i].domain%>">
                    <button data-type="edit">编辑</button>
                    <button data-type="view">查看</button>
                </span>
            </li>
        <% } %>
    </ol>
</script>

<script type="template" id="addTpl">
    <div class="add-container">
        <div class="domain">
            <input type="text" id="domain" value="<% data.domain || '' %>">
            <button data-type="tabInfo" class="get-current">获取当前域名</button>
        </div>
        <div id="script"><% data.script || '' %></div>
        <label id="error">域名和脚本必填</label>
        <footer>
            <button data-type="save" class="save">保存</button>
            <button data-type="cancel" class="cancel">取消</button>
        </footer>
    </div>
</script>

<script type="template" id="viewTpl">
    <div class="view-container">
        <label for="domain">
            域名：<span><%data.domain%></span>
        </label>
        <label for="script">
            脚本：<pre><%data.script%></pre>
        </label>
        <button class="cancel">返回</button>
    </div>
</script>
<script src="./lib/ace.js"></script>
<script src="./router.js"></script>
<script src="./model.js"></script>
<script src="./template.js"></script>
<script src="./view.js"></script>
</body>
</html>